* {
    box-sizing: border-box;
}

html {
    font-family: lato-regular, sans-serif;
}

body {

    margin: 0;
    font-size: 1rem;
    background-color: var(--clr-gallery--1);
    
    
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/* Reset Link */

a {
    font: inherit;
    color: inherit;
    text-decoration: none;
}

/* reset buttons */

button {
    background-color: inherit;
    font: inherit;
    color: inherit;
    border: 0;
}

.fa{
    width: 15px;
    height: 15px;
}