.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.grid {
    display: grid;

    &.flow-column {
        grid-auto-flow: column;
    }


    &.space-between {
        justify-content: space-between;
    }
    &.space-around {
        justify-content: space-around;
    }

    &.align-center {
        align-items: center;
    }

    &.justify-center {
        justify-content: center;
    }

    &.justify-itrms-center {
        justify-items: center;
    }
}


.hide{
    display: none;
}