/* Main Layout */


.main-layout {

    display: grid;
    grid-template-columns: 10px 10px  1fr 15px 1fr 10px 10px;

    >* {
        &:not(.full-mobile) {
            grid-column: 2 / 7;
        }

        &.full-mobile{
            grid-column: 1 / -1;
        }
    }

    &.editor-main-layout  {
            &:not(.hide){

            display: grid;
            grid-template-rows: 1fr 441px;

            height: calc(100vh - 50px);

            .canvas-area {
                grid-column: 1 / -1;
                grid-row: 1 / 2;
            }

            .editor-area {
                grid-column: 1 / -1;
                grid-row: 2 / 3;

            }
            }    
    }
}

.gallery-container {
    .img-container {
        column-count: 2;
        column-width: 1fr;
        column-gap: 15px;

        img {
            width: 100%;
            margin-bottom: 10px;
            border-radius: 10px;
            object-fit: cover;

        }
    }


}