
.main-layout {

    display: grid;
    grid-template-columns: 20px 1fr 20px;

    >* {
        &:not(.full) {
            grid-column: 2 / 3;
        }

        &.full {
            grid-column: 1 / -1;
        }
    }
}

.gallery-container {
    .img-container {
        column-count: 2;
        column-width: 1fr;
        column-gap: 15px;

        img {
            width: 100%;
            margin-bottom: 10px;
            border-radius: 10px;
            object-fit: cover;
        }
    }
}

.editor-main-layout {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: calc(100vh - 50px);

    .canvas-area {
        grid-column: 1 / 3;
        grid-row: 1 / 2;

        display: grid;
        grid-template-columns: 20px, 1fr, 20px;

        .canvas-container {
            grid-column: 2;
        }
    }

    .editor-area {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
}

