* {
    box-sizing: border-box;
}
html{
    
}

body {
    margin: 0;
    font-size: 1rem;
    background-color: var(--clr-gallery--1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/* Reset Link */

a{
     font: inherit;
    color: inherit;
    text-decoration: none;
}