.main-nav {
    font-family: roboto-regular;
    color: var(--clr-nav-1);

    > ul {

      

        li {
            display: grid;
            place-items: center;
            height: 50px;
            margin-right: 50px;
            

            &:last-of-type{
                 margin-right: 0px;
            }
        }

       

}
}