.editor-main-layout {


    .canvas-area {

        background-color: var(--clr-gallery--1);

        .canvas-container {

            width: 100%;
            border: 0px;
            margin: 50px auto;

            canvas {
                display: block;
                border-radius: 10px;
            }

        }
    }

    .editor-area {

        background-color: var(--clr-editor--1);

    }

}