/* Mobile Only */

@media (max-width: 740px) {

    .main-nav {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 100dvh;
        background-color: var(--clr-nav-2);

        transform: translatex(100%);

        body.menue-open & {
            transform: translatex(0%);
        }

        ul {
            height: 100dvh;
            align-content: center;

            &.nav-list {
                grid-auto-flow: row;
            }

            li {
                height: 167px;
                font-family: roboto-light, sans-serif;
                font-size: 1.5em;
                color: var(--clr-header--1);
                margin-right: 0px;

                &:nth-child(2) {
                    position: relative;
                }

                &:nth-child(2)::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    width: 21px;
                    height: 1px;
                    background-color: var(--clr-header--1);
                }

                &:nth-child(2)::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    width: 21px;
                    height: 1px;
                    background-color: var(--clr-header--1);
                }

                &.active {

                    a {

                        font-family: roboto-medium, sans-serif;
                        color: var(--clr-header--1);
                    }


                }
            }
        }
    }

    .btn-toggle-menue {

          body.menue-open & {
                   z-index: 10;

        font-family: roboto-light, sans-serif;
        font-size: 1.5em;
        color: var(--clr-header--1);
        margin-top: 15px;
        }




    }


    .editor-container {

        .text-editing-container {

            .font-family-editing {
                width: 100%;
                height: 32px;
                margin-bottom: 10px;
                padding: 0px 15px;
            }

            .text-edit {
                display: grid;
                grid-auto-flow: column;
                place-content: center;
                gap: 30px;
                margin-bottom: 10px;
            }
        }

        .text-input {
            width: 100%;
            height: 56px;
            font-size: 1em;
            padding: 0px 20px;
            border: 1px solid #DEDEDE;
            border-left: 0;
            border-right: 0;
        }

        .imoji-container {
            font-size: 2.5em;
            padding-top: 15px;
            padding-bottom: 15px;
        }

        .share-btn {
            place-self: center;
            bottom: 25px;


            width: 100%;
            height: 42px;
        }
    }
}



/* Medium */
@media (min-width: 740px) {

    .editor-main-layout {

        grid-template-columns: 1fr minmax(450px, 1fr);

        .canvas-area {
            grid-column: 1 / 2;
            grid-row: 1 / 3;

            display: grid;
            grid-template-columns: 70px 1fr 70px;

            background-color: #ffffff;

            .canvas-container {
                grid-column: 2;
            }
        }

        .editor-area {

            grid-column: 2 / 3;
            grid-row: 1 / 3;
            background-color: #f8f8f8;

            .editor-container {

                position: relative;

                .text-editing-container {

                    display: grid;
                    grid-auto-flow: column;
                    justify-content: space-between;
                    align-items: center;
                    gap: 10px;
                    border: 1px solid #ebebeb;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;

                    height: 32px;
                    background-color: #ffffff;
                    padding: 5px 10px;

                    .text-edit {
                        display: grid;
                        grid-auto-flow: column;
                        align-items: center;
                        gap: 15px;
                    }

                    .font-family-editing {
                        width: auto;
                    }
                }

                .text-input {
                    /* background: blue; */
                    width: 100%;
                    height: 70px;
                    font-size: 1em;
                    border: 1px solid #ebebeb;
                    border-top: 0;
                    padding: 20px;
                    margin-bottom: 30px;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                }

                .imoji-container {
                    font-size: 3.5em;
                    background-color: #ffffff;
                    padding: 5px;

                    border: 1px solid #ebebeb;
                    border-radius: 10px;
                }

                .share-btn {

                    position: absolute;
                    right: 0px;
                    bottom: 50px;

                    width: 140px;
                    height: 54px;
                }
            }
        }
    }



    .gallery-container {
        .img-container {

            column-count: auto;
            column-width: 210px;
            column-gap: 25px;
            padding: 10px;

            img {
                margin-bottom: 18px;
                border-radius: 15px;
            }
        }
    }
}