/* Mobile Only */

@media (max-width: 740px) {
    .canvas-area {
        button {
            display: none;

        }
    }

}



/* Medium */
@media (min-width: 740px) {
    .main-layout {

        grid-template-columns: 20px 3fr 2fr 20px;
        grid-template-rows: auto;

        >* {
            &:not(.full) {
                grid-column: 2 / 4;
            }

            &.full {
                grid-column: 1 / -1;
            }
        }


        &.editor-main-layout {
            &:not(.hide){
                  grid-template-rows: 1fr;
            height: auto;

            .canvas-area {
                grid-column: 1 / 3;
            }

            .editor-area {
                grid-column: 3 / 5;
            }
        }
            }
          
    }
    .main-content{
         height: calc(100vh - 50px);
    }

    .editor-area {
        display: grid;
        grid-template-columns: 30px 1fr 30px;

        padding-top: 30px;

        .editor-container {
            grid-column: 2;
        }
    }

    .canvas-area {
        /* background-color: blue; */
        height: 100%;
        width: 85%;
        padding-top: 30px;

        button {
            display: inline-block;
            margin-left: 30px;
            margin-bottom: 116px;
            cursor: pointer;

            /* Show the button on desktop */
            transform: translatex(0%);
        }

        .canvas-container {
            margin: 10px auto;
        }
    }




    .gallery-container {
        .img-container {

            column-count: auto;
            column-width: 210px;
            column-gap: 25px;
            padding: 10px;

            img {
                margin-bottom: 18px;
                border-radius: 15px;

            }
        }


    }


    .hide {
        display: none;
    }



}

/* Large */

/* @media (min-width: 1040px) {} */