/* Mobile Only */

@media (max-width: 600px) {
    .canvas-area {
        button {
            display: none;

        }
    }
    .btn-toggle-menue{
         body.menue-open & {
            color: var(--clr-header--1);
            z-index: 1;
            
        }
    }

    .main-nav {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 100dvh;
        background-color: var(--clr-nav-2);

        transform: translatex(100%);

        body.menue-open & {
            transform: translatex(0%);
        }

        ul {
            height: 100dvh;
            align-content: center;

            &.nav-list {
                grid-auto-flow: row;

            }



            li {
                height: 167px;
                font-family: roboto-light, sans-serif;
                font-size: 1.5em;
                color: var(--clr-header--1);
                margin-right: 0px;

                &:nth-child(2) {
                    position: relative;
                }

                &:nth-child(2)::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    width: 21px;
                    height: 1px;
                    background-color: var(--clr-header--1);

                }

                &:nth-child(2)::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    width: 21px;
                    height: 1px;
                    background-color: var(--clr-header--1);

                }

                &.active {

                    a {

                        font-family: roboto-medium, sans-serif;
                        color: var(--clr-header--1);
                    }

                }
            }


        }
    }

}

/* Medium */
@media (min-width: 600px) {
    .main-layout {

        grid-template-columns: 20px 3fr 2fr 20px;
        grid-template-rows: auto;

        >* {
            &:not(.full) {
                grid-column: 2 / 4;
            }

            &.full {
                grid-column: 1 / -1;
            }
        }


        &.editor-main-layout {

            &:not(.hide) {
                grid-template-rows: 1fr;


                .canvas-area {
                    grid-column: 1 / 3;
                    display: grid;
                    grid-template-rows: auto 115px auto 1fr;

                    background-color: var(--clr-editor--1);

                    .canvas-container {
                        grid-row: 3 / 4;
                        margin: 0px;
                        max-height: 50%;
                    }

                    button {
                        grid-row: 1;
                        display: inline-block;
                        width: fit-content;
                        padding: 0;
                        margin: 0;
                        cursor: pointer;

                    }


                }

                .editor-area {
                    grid-column: 3 / 5;
                    grid-row: 1;
                    background-color: var(--clr-gallery--1);
                }
            }
        }

    }

    .main-content {
        height: calc(100vh - 50px);
    }

    .editor-area {
        display: grid;
        grid-template-columns: 30px 1fr 30px;


        padding-top: 30px;

        .editor-container {
            grid-column: 2;
        }
    }

    .canvas-area {
        height: 100%;
        padding-top: 30px;

        button {
            padding: 0;
            display: inline-block;
            margin-left: 30px;
            cursor: pointer;

            /* Show the button on desktop */
            transform: translatex(0%);
        }


    }

     .btn-toggle-menue{
            display: none;
            
        }




    .gallery-container {
        .img-container {

            column-count: auto;
            column-width: 210px;
            column-gap: 25px;
            padding: 10px;

            img {
                margin-bottom: 18px;
                border-radius: 15px;

            }
        }


    }


    .hide {
        display: none;
    }



}

/* Large */

/* @media (min-width: 1040px) {} */