/* Roboto */


@font-face {
  font-family: roboto-medium;
  src: url(/fonts/roboto/Roboto-Medium.ttf)
}

@font-face {
  font-family: roboto-regular;
  src: url(/fonts/roboto/Roboto-Regular.ttf)
}

@font-face {
  font-family: roboto-light;
  src: url(/fonts/roboto/Roboto-Light.ttf)
}

@font-face {
  font-family: lato-regular;
  src: url(/fonts/lato/Lato-Regular.ttf)
}

@font-face {
  font-family: eurofurence-regular;
  src: url(/fonts/eurofurence/eurofurence-regular.ttf)
}