/* Roboto */


@font-face {
  font-family: "roboto-medium";
  src: url("/fonts/roboto/Roboto-Medium.ttf") format("woff2");
}

@font-face {
  font-family: "roboto-regular";
  src: url("/fonts/roboto/Roboto-Regular.ttf") format("woff2");
}

@font-face {
  font-family: "roboto-light";
  src: url("/fonts/roboto/Roboto-Light.ttf") format("woff2");
}

@font-face {
  font-family: "lato-regular";
  src: url("/fonts/lato/Lato-Regular.ttf") format("woff2");
}

@font-face {
  font-family: "eurofurence-regular";
  src: url("/fonts/eurofurence/eurofurence-regular.ttf") format("woff2");
}

/* Font Awsome */

@font-face {
  font-family: "fa";
  src: url("/fonts/fa/fa-solid-900.ttf") format("woff2");
}

/* fa helpers */

.fa::before{
  font-family: fa;
}

.fa.bars::before {
  content: "\f0c9";
}

.fa.xMark::before{
  content: "\f00d";
}

.fa.switch::before{
  content: "\f338";
}

.fa.add::before{
  content: "\f0fe";
}

.fa.delete::before{
  content: "\f2ed";
}

.fa.plus::before{
  content: "\2b";
}

.fa.minus::before{
  content: "\f068";
}

.fa.alignL::before{
  content: "\f036";
}
.fa.alignC::before{
  content: "\f039";
}
.fa.alignR::before{
  content: "\f038";
}
.fa.plate::before{
  content: "\f1fc";
}
.fa.arrowD::before{
  content: "\f063";
}
.fa.arrowU::before{
  content: "\f062";
}
.fa.download::before{
  content: "\f019";
}

