:root {
    /* backround color */
    --clr-gallery--1: #f8f8f8;
    --clr-header--1: #ffffff;


    /* colors */

    /* header */
    --clr-nav-1: #989898;
    --clr-nav-2: #FF9826;

    /* Gallery */
    --clr-search-bar: #E5E5E5;
}